.title1{
  display: flex;
  //font-size: 26px;
  text-align: center;
  width: 100%;
  color: black;
}


.h1T{
 color: #0076ff;
 font-size: 30px;
  margin-right: 2px;
}



.h1Hide{
    font-size: 21px;
    margin-top: auto;
    margin-bottom: 25px;
    border: none;
    border-left: 2px solid black;
    padding-left: 2px;
    color: #00000087;
}


.h1Hide:hover{
  cursor: pointer;
  color:#0076ff;
}

.h2Hide{
  font-size: 21px;
  margin-top: auto;
  margin-bottom: 25px;
  border: none;
  border-right: 2px solid black;
  padding-right: 2px;
  color: #00000087;
}

.h2Hide:hover{
  cursor: pointer;
  color:#0076ff;
}

.dad{
    display: flex;
    width: 100%;

}

.childBox{
  width: 90%;
  height: 250px;
  display: flex;
  overflow: auto;
  scroll-behavior: smooth;
}

.spinerdad{display: flex;justify-content: center;width: 100%;margin-top: 50px;}
.spinner {border: 4px solid #11dcf3;border-left-color: transparent;width: 36px;height: 36px;border-radius: 50%;animation: spin 1s linear infinite;}
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }

.boxContent{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  overflow-x: hidden;
  min-width: 360px;
  max-height: 200px;
  margin-left: 5px;

}

.imgUser{
    max-width: 50px;
    max-height: 50px;
    //transform: translate(-93px, -21px);
   // position: absolute;
    min-height: 50px;
    min-width: 50px;
    width: 50px;
    height: 50px;
    border-radius: 150px;
    border: 4px solid #4f5052;
    box-shadow: -14px -6px 2px #0076ff, 16px 14px 2px #123f59, 10px -12px 0px 2px #2e9921;
    background: #56c1ff;

    &:hover {
        animation: changeColor 3s infinite; /* Cambia el valor 3s para ajustar la velocidad de la animación */
      }
      @keyframes changeColor {
        0% {
          box-shadow: -14px -6px 2px #0076ff, 16px 14px 2px #123f59, 10px -12px 0px 2px #2e9921;
          background-color: #56c1ff;
        }
        50%{
            box-shadow:  -14px -6px 2px #123f59, 16px 14px 2px #2e9921, 20px -12px 0px 2px #0076ff;
            background-color: #6e2ab3;
          }
        
        100%{
            box-shadow:  -14px -6px 2px #0076ff, 16px 14px 2px #123f59, 20px -12px 0px 2px #2e9921;
            background-color: #56c1ff;
          }
      }
}



.titleImg{
    position: absolute;
    width: 138px;
    transform: rotate(329deg);
    font-size: 12px;
    font-weight: 900;
    color: white;
    bottom: 11px;
    margin-left: 114px;

}

.hideImg{
  width: 0px;
  visibility: hidden; 
  border: 0px;
  height: 0px;
  position: absolute;
}

.arrowL{
  width: 40px;
  margin: auto;

}

.arrowR{
  width: 40px;
  margin: auto;
    transform: rotate(180deg);


}

.rigthArrow{
    width: 32px;
    height: 32px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 25px;
}


.leftArrow{
  width: 32px;
  height: 32px;
  margin: auto;
  transform: rotate(180deg);
  margin-right: 25px;
}
.rigthArrow:hover{
  width: 40px;
  height: 40px;
  margin-right: -8px;
}

.leftArrow:hover{
  width: 40px;
  height: 40px;
  margin-left: -8px;
}

.arrowHide{
  visibility: hidden;
}

.form{
    display: flex;
    flex-direction: column;
    width: 100%;
    word-wrap: break-word;
    overflow-x: hidden;
    max-height: 200px;
    max-width: 280px;
    overflow-y: auto;
}


.userIdentification{
  display: flex;
  width: 55%;
  margin-top: 15px;
  margin-left: 15px;


  h2{
    color: #0089ff;
    margin-left: 20px;
  }
}

.infoUser{
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 55%;
  max-width: 55%;

  label{
    font-weight: bold;
    margin-bottom: 3px;
    margin-top: auto;
    margin-bottom: auto;
  }

  p{
    margin-left: 4px;
    font-weight: bold;
  }

  input{
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    margin-bottom: 10px;
    font-size: 19px;
    resize: none;
    outline: none;
    color: white;
    caret-color: #f2f2f2;
    box-shadow: -1px 0px 1px 0px #00000087;
    border-radius: 6px;
  }

  input:focus{
    border-radius: 6px;
    border: none;
    box-shadow: -2px 4px 1px 0px #00000087;
  }
}

.comentUser{
  display: flex;
  flex-direction: column;


  label{
    font-weight: bold;
    margin-bottom: 7px;
    margin-top: 5px;
  }

  p{
    margin: 0;
  }

  textarea{
    width: 100%;
    background: transparent;
    margin-bottom: 10px;
    font-size: 19px;
    resize: none;
    border: none;
    outline: none;
    box-shadow: 0px 1px 1px 0px #00000087, 2px 2px 2px 2px #00000087;
    color: rgb(0, 0, 0);
  }

  textarea:focus{
    border-radius: 6px;
    box-shadow: -2px 4px 1px 0px #00000087;
  }
}


.form::-webkit-scrollbar-thumb {
  background: #00113B;
  border-radius: 10px;
  width: 5px;
}

.form::-webkit-scrollbar:horizontal {
  height: 2px;
}



  .form::-webkit-scrollbar {
      width: 10px;
      min-width: 12px;
  }

  .form::-webkit-scrollbar-track {
      background: #e0e0e0;
  }


  @media (max-width: 550px){
    
  .h1T{
    font-size: 21px;
    margin-bottom: 18px;

  }

  .h1Hide{
    margin-bottom: 18px;
    font-size: 16px;
  }

  .h2Hide{
    margin-bottom: 18px;
    font-size: 16px;
  }
  }
