
<div class="spacer">



<header class="nav-bar">
  <a href="/"><img class="patitita" src="../../../assets/d.png"></a>
  <nav class="navList">
      <a href="#skills">Skills</a>
      <a href="#projects">Projects</a>
      <a href="#contact">Contact</a>
    </nav>
    <div class="mobile" (click)="menu()">
      <img class="patitita2"  src="../../../assets/menu.png">
    </div>

    <div class="contr2">
      <button class="contr" (click)="talk()">Let's talk</button>

    </div>

    <div class="side-menu" *ngIf="activeMenu" [class.active]="activeMenu">
      <div class="divSid">
      <ul class="ulSid">
        <li class="liSid"><a class="enlace" href="#skills" >Skills</a></li>
        <li class="liSid"><a class="enlace" href="#projects" >Projects</a></li>
        <li class="liSid"><a class="enlace" href="#contact">Contact</a></li>
        <li class="liSid"><a class="enlace" (click)="talk()">Let's talk</a></li>

      </ul></div>
      
    </div>

  <div class="side-Talk" *ngIf="activeTalk"  [class.active]="activeTalk">
    <div class="divTalk">

      <form class="formTalk" (ngSubmit)="contactForm(form.value)"
      method="POST" #form='ngForm'>
        <div class="buttonForm">
         <img class="imgVolver" (click)="backeando()" src="../../../assets/volver.png">
        </div>
        <div class="titleH1">
          <span class="span2"><h1>Send a message</h1></span>
        </div>

        <div class="inputsform">
          <input type="text" [(ngModel)]="texto0"  placeholder="nombre" name="nombre" class="inputPetit" required ngModel >
          <input type="text"  [(ngModel)]="texto1" placeholder="asunto" name="asunto" class="inputPetit" required ngModel>
          <input type="email" [(ngModel)]="texto2" placeholder="email" name="email" class="inputPetit"  required ngModel>
          <textarea type="text"[(ngModel)]="texto3" (input)="verificar2()"  class="inputText" name="mensaje" placeholder="Message" cols="5" rows="4" ngModel></textarea>
        </div>
        <div class="divButton">
          <h2 class="succes" *ngIf="enviado">Enviado con exito</h2>
          <button  type="submit"  [disabled]="state" class="botonForm">Enviar</button>
        </div>
      </form>
    </div>
  </div>
   
</header>




</div>


