.escond{
  display: none;
}


.spacer{ 
width: 100%;
display: flex;
justify-content: center;
position: sticky;
top: 0;
background-color: #fff;
z-index: 5;
box-shadow: 0px 3px 2px #c5c5c5;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: #9d9d9d ;
}

a:hover{
  color: #2890cd !important;
}

.nav-bar{
    height: 80px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    margin: 0px 40px;
}

.mobile{
    display: none;
}

.side-menu{
    display: none;
}

.navList{
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    z-index: 5;
}

.navList a{
    font-weight: 600;
    color: #6b6b6b;
    margin: 0 10px;
    font-size: 20px;
    z-index: 5;
}

.contr2{
  width: 150px;
}

.contr{
  border-style: none;
  border-radius: 12px;
  background: #4C40F7;
  height: 40px;
  width: 110px;
  font-size: 15px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 5px;
}

.contr:hover{
    width: 105px;
    height: 35px;
    cursor: pointer;
    box-shadow: 1px 3px 0px 0px #050320;
}


.dadTalk{
    height: 1000px;
    width: 100%;
    padding: 0;
    top: 0;
    bottom: 0;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    display: flex;
    background-color: rgb(0 35 205 / 50%);
    justify-content: center;
}



.side-Talk{
  top: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  transform: translateX(-0%) ;
  background-color:rgb(10 10 10 / 68%);
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition:  .5s !important;
  &.active{
    transition: 4s;
    height: 100%;
    width: 100%;
    transform: translateX(0) ;

  }

}


.divTalk{
  display: flex;
  justify-content: center;
  height: 550px;
  width: 700px;
  margin: auto;
  padding: 0px;
  box-shadow:  -6px 4px 20px #efefef, 7px -1px 17px 0px #efefef;

}

.buttonForm{
    width: 100%;
    height: 45px;
    margin: 0;
    padding: 0;
}

.imgVolver{
  width: 40px;
  margin: 10px;
}

.imgVolver:hover{
  width: 45px;
  cursor: pointer;
}

.formTalk{
  display: flex;
  justify-content: center;
  flex-direction: column;

  width: 100%;
  height: 100%;
  background-color: rgb(50 89 177 / 89%);
}

.inputPetit{
  height: 20px;
  width: 420px;
  resize: none;
  outline: none;
  background-color: white;
  border: none;
  border-radius: 5px;
}

.inputText{
  height: 100px;
  width: 420px;
  margin-bottom: 10px;
  resize: none;
  outline: none;
  background-color: white;
  border: none;
  border-radius: 5px;
}

.inputsform{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
  width: 400px;
}

.titleH1{
display: flex;
justify-content: center;
color: white;
}

.span2{
display: flex;
}

.span2 h1{
  margin: 0px;
  padding: 0px;
  margin-bottom: 15px;
}

.divButton{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    flex-direction: column;
    text-align: center;
}

.succes{
  color: white;
  margin: 0;
  padding: 0;
}

.botonForm{
  width: 100px;
  height: 30px;
  font-size: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

.botonForm:hover{
  width: 105px;
  height: 35px;
  box-shadow: 1px 4px 2px black;
}


.patititaDiv{
    margin: 0;
    padding: 0;
    
}

.patitita{
    margin: 0;
    width: 100px;
    height: 100px;
}

.inM{
  width: 100%;
  
}

.error{
  color: rgb(217, 255, 0);
  margin: 0px;
  font-size: 19px;
}

.ng-touched.ng-invalid:is(input, textarea),
.ng-dirty.ng-invalid:is(input,textarea)
{
  outline: 2px solid red;
  margin-bottom: 10px;
}
@media (max-width:720px){
  .divTalk{
    width: 90%;
    height: 50%;
  }
}

@media (max-width:540px){

  .ng-touched.ng-invalid:is(input, textarea),
.ng-dirty.ng-invalid:is(input,textarea)
{
  outline: 2px solid red;
  margin-bottom: 5px;
}

    .nav-bar{
        margin: 0px;
    }

    .navList{
        display: none;
    }

    .mobile{
        display: flex;
        margin-right: 10px;
    }

    .patitita2{
        width: 50px;
        height: 50px;
        margin: 0px;
    }

    .menu{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgb(209, 209, 209);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
      
        transform: translateX(-100%);
        transition: all ease-out .5s;
        .active{ 
            transform: translateX(0);
            transition: all ease-out .2s;
        
        }
        
       
    }

    .patitita2:hover{
        cursor: pointer;
    }

    .box{
        background-color: blue;
    }

    .menu-Box{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-top: 8px;
        margin: 10px;
        background-color: gray;
    }

    .menu-Box button{
        margin-bottom: 10px;
    }

    .contr2{
      display: none;
    }

    .contr{
        display: none;
    }

    .side-menu{
        position: fixed;
        margin-top: 70px;
        top: 0;
        right: 0;
        background-color:whitesmoke;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        box-shadow: 1px 3px 2px #e3dbdb;
        transform: translateX(-100%);
        transition: all ease-out .5s;
        &.active{
          transform: translateX(0);
          transition: all ease-out .2s;
          border-radius: 10px;
        }
      
      }

      .divTalk{
        height: 500px;
        width: 90%;
      }
      
      .divSid{
        display: flex;
        justify-content: center;
        height: 200px;
        padding: 0px;
      }

      .inputPetit{
        height: 20px;
        width: 90%;
        resize: none;
        outline: none;
        background-color:white;

      }
      
      .inputText{
        height: 100px;
        width: 100%;
        margin-bottom: 10px;
        resize: none;
        outline: none;
        background-color:white;

      }
      
      .inputsform{
        padding-top: 10px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        margin-right: auto;
        margin-left: auto;
        height: 100%;
        width: 50%;
      }

      .error{
        color: rgb(217, 255, 0);
        margin: 0px;
        font-size: 14px;
      }
      
      .inputText{
        width: 90%;
      }
      .ulSid{
        padding: 0px;
        list-style: none;
        width: 140px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
      
      }
      
      .liSid{
        margin-bottom: 20px;
        text-align: center;
      }
      
      .logo {
        width: 32px;
        height: 32px;
        margin-top: 10px;
        margin-right: 1em;
        text-decoration: none !important;
        background-image: none !important;
        border: none !important;
      }
      
      .ulThreeActions{
        margin: 0px;
      }
      
      .xMobile{
        display: flex;
        justify-content: start;
        padding: 10px;
      }
      
      .enlace{
        width: auto;
        color: #585858;
        font-weight: 700;
      
      }
      
      .enlace:hover{
        cursor: pointer;
         color: #2890cd !important;
        }
      
        
      
      
      
      .hide-mobile {
        display: none;
        > div {
          padding: 1em;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      
      
      
        nav {
          display: flex;
          align-items: center;
          ul {
            display: flex;
            justify-content: space-around;
            list-style: none;
            a {
      
              margin: 0 .2em;
              color: inherit;
              text-decoration: none;
            }
          }
        }
        .info {
          display: flex;
          align-items: center;
          .account {
            margin-right: .5em;
          }
        }
      }
}

@media (max-width:290px){
  .spacer{
    width: 280px;
  }
}

