
<div class="spacer">



<header class="nav-bar">
  <img class="patitita" src="../../../assets/d.png">
  <nav class="navList">
      <a href="#skills">Skills</a>
      <a href="#projects">Projects</a>
      <a href="#contact">Contact</a>
      <a href="#contact">About me</a>
    </nav>
    <div class="mobile" (click)="menu()">
      <img class="patitita2"  src="../../../assets/menu.png">
    </div>
    
    <button class="contr">contrata</button>

  
</header>



</div>


<div class="side-menu" [class.active]="activeMenu">
  <button class="xMobile" ></button>
  <div class="divSid">
  <ul class="ulSid">
    <li class="liSid"><a class="enlace" >Crear Stock</a></li>
    <li class="liSid"><a class="enlace"  >Stock Guardados</a></li>
    <li class="liSid"><a class="enlace" >Información</a></li>
  </ul></div>
  
</div>