.spacer{ 
width: 100%;
display: flex;
justify-content: center;
position: sticky;
top: 0;
background-color: #fff;
z-index: 5;
box-shadow: 0px 3px 2px #c5c5c5;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: #9d9d9d ;
}

.nav-bar{
    height: 80px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.nav-bar ul{
    width: 100%;
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
    height: 40px;
}

.nav-bar ul li{
    list-style: none;
    padding: 5px;
    font-size: 24px;
}



li:hover{
    color: #09e1cd;

}

.patititaDiv{
    margin: 0;
    padding: 0;
    
}

.patitita{
    margin: 0;
    width: 100px;
    height: 100px;
}

