
<div class="spacer">



<header class="nav-bar">
  <img class="patitita" src="../../../assets/d.png">
  <nav class="navList">
      <a href="#skills">Skills</a>
      <a href="#projects">Projects</a>
      <a href="#contact">Contact</a>
    </nav>
    <div class="mobile" (click)="menu()">
      <img class="patitita2"  src="../../../assets/menu.png">
    </div>

    <div class="contr2">
      <button class="contr" (click)="talk()">Let's talk</button>

    </div>

    <div class="side-menu" *ngIf="activeMenu" [class.active]="activeMenu">
      <div class="divSid">
      <ul class="ulSid">
        <li class="liSid"><a class="enlace" href="#skills" >Skills</a></li>
        <li class="liSid"><a class="enlace" href="#projects" >Projects</a></li>
        <li class="liSid"><a class="enlace" href="#contact">Contact</a></li>
        <li class="liSid"><a class="enlace" >Let's talk</a></li>

      </ul></div>
      
    </div>

    <div class="side-Talk" *ngIf="activeTalk"  [class.active]="activeTalk">
      <div class="divTalk">
        <form>
          <input type="text" placeholder="Message">
        </form>
      </div>
      
    </div>
</header>



</div>


