<div class="dad">
  <div class="hijo">

    <section class="section1">
      <div class="nav-bar">
        <ul>
          <li>About me</li>
          <li>Skills</li>
          <li>Contact</li>

        </ul>
      </div>

    <div class="section-div"><img class="section-img" src="../assets/blank-profile-picture-gbda33b1ef_640.png"></div>
     <div class="section-div2">
      <h1>Daniel Oto Diaz</h1>
      <h1>FrontEnd Developer</h1>
    </div>

    <div class="button-div">
      <img (click)="activeSection2()" class="img-button" src="../assets/down-arrow .png">
    </div>

    <section class="section2" *ngIf="section2Active">
      <div class="section2-div1">
        <h1>ASASSSAS</h1>
      </div>
    </section>

  </section>
  </div>

</div>