

      <app-header class="header" (propagar)="co($event)" ></app-header>


<div class="dad" >

  <div class="hijo" [class.active]="activa"  >
<main>

    <section class="section1">
      <app-part1 class="section12" ></app-part1>
    </section>


  <section class="section2"  id="skills">
    
    <app-skills></app-skills>
   
  </section>

  <section class="section3" id="projects">
    <app-proyects></app-proyects>
  </section>

  
  

</main>


  </div>
</div>
<app-foter class="f" id="contact"></app-foter>
  

  
   
 
