<div class="dad">



<section class="section1">
    <div class="divCard">
        <div class="contain">
            <h3 class="title">Rick and Morty</h3>
            <div></div>
            <p class="textP">
                Web of the universe of
                Rick and Morty with the API of Rick and Morty
                <br>
                Build with Angular 
            </p>

            <div>
                <a class="enlace"><p class="textP">Github Repository</p></a>
                <a class="enlace">
                    <p class="textP">Live Demo</p>
                </a>

               
            </div>
        </div>
        <div>
            <img class="imgc" src="../../../assets/fl.png">
        </div>
    </div>


    <div>
        <div>ges</div>
    </div>
    <div>
        <div>pre</div>
    </div>
</section>
</div>