
.dad{
    width: 100%;
    &.active{ 
    animation-name: cor;
    animation-duration: 3s;
    animation-iteration-count: 1;}
}
@keyframes cor {
    0%{opacity: 0;} 100%{opacity: 1;}
 }



.title1{
    font-size: 34px;
    text-align: center;
    width: 100%;
    color: black;
}

.title{
    width: 100%;
}

.h1T{
   color: #7a7a7a;
}

.section1{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}


.divCard{
    width: 60%;
    background-color: #4c40f7;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 20px;
    margin: 25px;
    align-items: center;
    box-shadow: 0 -5px 3px -3px #8f8f8f, 0 5px 3px -3px #8f8f8f;
    &-rick{
        background-color: rgb(23, 24, 23);
    }
    &-vue{
        background-color: #6f9736;
    }

    &-viajes{
        background-color: rgb(129, 8, 8);
    }

    &-vueForm{
        background-color: #2a6163;
    }
}

.contain{
    font-family: Poppins,sans-serif;
}

.title{
    color: #fff;
    font-size: 33px;
    margin-bottom: 10px;
}


.space{
    width: 150px;
    border-bottom: 6px solid #ffffff;
}


.textP{
    color: #fff;
    padding: 10px;
}

.textP2{
    text-decoration: underline;
    text-align: left;
    margin: 0;
    color:#fff ;
    padding: 10px;
}



.enlace{
    margin: 10px 0;
}

.imgc{
    max-height: 240px;
}

.imgc2{
    max-height: 240px;
}

@media(max-width:840px){
    .divCard{
        width: 100%;
    }

    .textP{
        text-align: center;
    }

    .textP2{
        text-align: center;
    }

    .imgc{
        border-radius: 50px;
        width: auto;
    }

    .imgc2{
        border-radius: 50px;
        width: auto;
    }

    .title{
        text-align: center;
    }

    .contain{
        text-align: center;
    }

    .space{
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }
}