<div class="dad">

    <div class="title1">
        <h1>Projects</h1>
    </div>


<section class="section1">
    <div class="divCard divCard-rick">
        <div class="contain">
            <h3 class="title">Rick and Morty</h3>
            <div class="space"></div>
            <p class="textP">
                Web of the universe of
                Rick and Morty with the API of Rick and Morty
                <br>
                Build with Angular 
            </p>

            <div>
                <a class="enlace"><p class="textP2">Github Repository</p></a>
                <a class="enlace">
                    <p class="textP2">Live Demo</p>
                </a>

               
            </div>
        </div>
        <div>
            <img class="imgc" src="../../../assets/fl.png">
        </div>
    </div>

    <div class="divCard">
        <div class="contain">
            <h3 class="title">Stock Sistem to Companis</h3>
            <div class="space"></div>
            <p class="textP">
                Web to manage and create stocks
                <br>
                Build with Angular 
            </p>

            <div>
                <a class="enlace"><p class="textP2">Github Repository</p></a>
                <a class="enlace">
                    <p class="textP2">Live Demo</p>
                </a>

               
            </div>
        </div>
        <div>
            <img class="imgc2" src="../../../assets/fl2.png">
        </div>
    </div>



    <div class="divCard divCard-vue">
        <div class="contain">
            <h3 class="title">Presentation in Vue</h3>
            <div class="space"></div>
            <p class="textP">
                My first work in Vue.js 
                <br>
                Build with Vue.js
            </p>

            <div>
                <a class="enlace"><p class="textP2">Github Repository</p></a>
                <a class="enlace">
                    <p class="textP2">Live Demo</p>
                </a>

               
            </div>
        </div>
        <div>
            <img class="imgc" src="../../../assets/pp.png">
        </div>
    </div>


    
</section>
</div>