<div class="dadSkills">
    <div class="titleSkills">
        <h1 class="h1T">Skills</h1>
    </div>
<section>
    <div class="box-skills">

    <div class="boxi boxi-h">
        <div></div>
        <div class="divImg">
            <img  class="imgIcon" src="../../../assets/shield-large.svg">
        </div>
        <div class="divTitle">
            <h1 class="tih1">Angular</h1>
        </div>
        <div class="divText">
            <p>{{angularText}}</p>
        </div>
     </div>

        <div class="boxi boxi-h  ">
            <div class="divImg">
                <img  class="imgIcon" src="../../../assets/iconts2.png">
            </div>
            <div class="divTitle">
                <h1 class="tih1">TypeScript</h1>
            </div>
            <div class="divText">
                <p>{{tsText}}</p>
            </div>
        </div>
    
        <div class="boxi boxi-h">
            <div class="divImg div-imgh">
                <img  class="imgIcon" src="../../../assets/icon3js.png">
            </div>
            <div class="divTitle">
                <h1 class="tih1">JavaScript</h1>
            </div>
            <div class="divText">
                <p>{{jsText}}</p>
            </div>
        </div>

        <div class="boxi boxi-h">
            <div class="divImg">
                <img  class="imgIcon2" src="../../../assets/icon4vue.png">
            </div>
            <div class="divTitle">
                <h1 class="tih1">Vue</h1>
            </div>
            <div class="divText">
                <p>{{vueText}}</p>
            </div>
        </div>

        <div class="boxi boxi-h">
            <div class="divImg">
                <img  class="imgIcon" src="../../../assets/no-bugs.png">
            </div>
            <div class="divTitle">
                <h1 class="tih1">Bugs Killer</h1>
            </div>
            <div class="divText">
                <p>{{bugsText}}</p>
            </div>
        </div>
    </div>
</section>
</div>