<div class="dadSkills">
    <div class="titleSkills">
        <h2>MY Skills</h2>
    </div>

    <div class="box-skills">

    <div class="boxi">
        <div class="divImg">
            <img  class="imgIcon" src="../../../assets/shield-large.svg">
        </div>
        <div class="divTitle">
            <h1>Angular</h1>
        </div>
        <div class="divText">
            <p>{{angularText}}</p>
        </div>
    </div>

        <div class="boxi">
            <div class="divImg">
                <img  class="imgIcon" src="../../../assets/shield-large.svg">
            </div>
            <div class="divTitle">
                <h1>Angular</h1>
            </div>
            <div class="divText">
                <p>sdsd</p>
            </div>
        </div>
    
        <div class="boxi">
            <div class="divImg">
                <img  class="imgIcon" src="../../../assets/shield-large.svg">
            </div>
            <div class="divTitle">
                <h1>Angular</h1>
            </div>
            <div class="divText">
                <p>sdsd</p>
            </div>
        </div>

        <div class="boxi">
            <div class="divImg">
                <img  class="imgIcon" src="../../../assets/shield-large.svg">
            </div>
            <div class="divTitle">
                <h1>Angular</h1>
            </div>
            <div class="divText">
                <p>sdsd</p>
            </div>
        </div>

        <div class="boxi">
            <div class="divImg">
                <img  class="imgIcon" src="../../../assets/shield-large.svg">
            </div>
            <div class="divTitle">
                <h1>Angular</h1>
            </div>
            <div class="divText">
                <p>sdsd</p>
            </div>
        </div>
    </div>
    
</div>