<div class="dadSkills">
    <div class="titleSkills">
        <h2>MY Skills</h2>
    </div>

    <div class="box-skills">
        <div class="boxi">
            js
        </div>
        <div class="boxi">
            <div><img  class="imgIcon" src="../../../assets/shield-large.svg"></div>

        </div>
    
        <div class="boxi">
            <div><img class="imgIcon" src="../../../assets/shield-large.svg"></div>
            TS
        </div>
        <div class="boxi">
            SCSS
        </div>
        <div class="boxi">
            VUE
        </div>
    </div>
    
</div>