
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #DCD7C9;
    margin: 0;
    padding: 0;
    background-color: #fbfbfb;
}

.dadSkills{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.titleSkills{
    display: flex;
    width: 100%;
    justify-content: center;
}

.box-skills{
    display: flex;
    justify-content:center;
    width: 100%;
    flex-wrap: wrap;
}

.boxi{
    margin: 50px;
    height: 300px;
    width: 200px;
    border-radius: 20px;
    background-color: #fff;
    filter: drop-shadow(5px 15px 100px rgba(109,109,109,.4));
}


.divImg{
    display: flex;
    justify-content: center;
    margin-top:10px ;
}
.imgIcon{
    width: 50px;
}

.divTitle{
    display: flex;
    justify-content: center;
    margin-top:10px ;
}

.divText{
    display: flex;
    justify-content: center;
    margin-top:10px ;
}