
$colorin : rgb(1 91 255);

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.dadSkills{
    display: flex;
    flex-direction: column;
    width: 100%;
    animation-name: cor;
    animation-duration: 3s;
    animation-iteration-count: 1;
    
}

.titleSkills{
    font-size: 34px;
    text-align: center;
    width: 100%;
    color: black;
}

.h1T{
    color: #7a7a7a;
    margin:42.33px 0px ;
}

.box-skills{
    display: flex;
    justify-content:center;
    width: 100%;
    flex-wrap: wrap;
}

.boxi{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.boxi-h{
    margin: 50px;
    height: 300px;
    width: 200px;
    border-radius: 20px;
    background-color: #fff;
    filter: drop-shadow(5px 15px 5px rgba(109,109,109,.4));
}

/*.boxi-h:hover, .divimgh{
    background-color: #4c40f7;
    transition: all 1s ease-out;
*/

.boxi4:active{
    &.active{
        background-color: $colorin;
    }
}

.boxi4:hover{
    background-color: $colorin;
    transition: 1s;

}



.boxi4:hover .tih1{
    background-color: $colorin;
    color: white;
    transition: 1s;

}

.boxi4:hover .divText{
    background-color: $colorin;
    transition: 1s;

}
 

 
.boxi4:hover p{
    background-color: $colorin;
    color: white;
    transition: 1s;
}
 







.divImg{
    display: flex;
    justify-content: center;
    height: 60px;
    width: 60px;
    margin: 20px 0 20px;
    align-items: center;
    border-radius: 90px;
    background-color: rgb(255, 255, 255);
    }

   


.imgIcon{
    width: auto;
    height: 40px;
}

.imgIcon2{
    width: auto;
    height: 39px;
}

.divTitle{
    margin: 0 10px 10px;
    display: flex;
    justify-content: center;
}

.tih1{
    font-size: 20px;
}

 /*.tih1::first-letter{
    font-size: 22px;
    background-color: #af545400;
    box-shadow: inset 0px -3px 2px #838383;
}*/

.divText{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top:10px;
    &.active{
        background-color: $colorin;
    }
}

.divText p{
    margin: 0 10px 10px;
    font-size: 14px;
    text-align: center;
    &.active{
        background-color:$colorin;
    }
}

@keyframes cor {
    0%{opacity: 0;} 100%{opacity: 1;}
 }

@media (max-width:540px){
    .boxi{
        filter: drop-shadow(5px 15px 5px rgba(109,109,109,.4));

    }
}

//.skill-card[_ngcontent-sbt-c34]:hover .card-text[_ngcontent-sbt-c34], .skill-card[_ngcontent-sbt-c34]:hover .card-title[_ngcontent-sbt-c34]