
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.dadSkills{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.titleSkills{
    display: flex;
    width: 100%;
    justify-content: center;
}

.box-skills{
    display: flex;
    justify-content:center;
    width: 100%;
    flex-wrap: wrap;
}

.boxi{
    margin: 50px;
    height: 300px;
    width: 200px;
    border-radius: 20px;
    background-color: #fff;
    filter: drop-shadow(5px 15px 100px rgba(109,109,109,.4));

}


.divImg{
    display: flex;
    justify-content: center;
    margin-top:10px ;
    height: 100px;
}
.imgIcon{
    width: 50px;
}

.divTitle{
    margin: 0 10px 10px;
    display: flex;
    justify-content: center;
}

.divText{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top:10px ;
}

.divText p{
    margin: 0 10px 10px;
    font-size: 14px;
    text-align: center;
}

@media (width:540px){
    .boxi{
        filter: drop-shadow(5px 15px 100px rgba(109,109,109,.4));

    }
}